{% extends "written_app/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Reset your password{% endblock title %}

{% block page_header%}
<h1 class="text-center">Forgotten your password?</h1>
{% endblock page_header%}

{% block content %}
<div class="col-sm-6 d-flex flex-column mx-auto shadow-lg p-4 m-4">
    <p>Enter your e-mail address to obtain a new password.</p>
    <form method="post">
        {% bootstrap_form form %}
        <p><input type="submit" value="Send e-mail" class="btn btn-primary col-12"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock content %}