{% extends "written_app/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Reset your password{% endblock title %}

{% block page_header%}
<h1 class="text-center">Reset your password</h1>
{% endblock page_header%}

{% block content %}
<div class="col-sm-6 d-flex flex-column mx-auto shadow-lg p-4 m-4">
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form method="post">
            {% bootstrap_form form %}
            {% csrf_token %}
            <p><input type="submit" value="Change my password" /></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already
        been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock content %}