{% extends "written_app/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Change your password{% endblock title %}

{% block page_header%}
<h1 class="text-center">Change your password</h1>
{% endblock page_header%}

{% block content %}
<div class="col-sm-5 d-flex flex-column mx-auto p-3 m-4">
    <p>Use the form below to change your password.</p>
    <form method="post">
        {% bootstrap_form form %}
        <p><input type="submit" value="Change" class="btn btn-primary col-12"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock content %}