{% extends "written_app/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Edit your account{% endblock title %}

{% block page_header%}
    <h1 class="text-center">Edit your account</h1>
{% endblock page_header%}

{% block content %}
<div class="col-sm-5 d-flex flex-column mx-auto p-3 m-4">
    <p>You can edit your account using the following form:</p>
    <form method="post" enctype="multipart/form-data">
        {% bootstrap_form user_form %}
        {% bootstrap_form profile_form %}
        {% csrf_token %}
        <p><input type="submit" value="Save changes" class="btn btn-primary col-12"></p>
    </form>
</div>
{% endblock content %}